h1{
color:rgb(135, 75, 192);
text-align: center;

}
.imagem{
    width: 30%;
    margin-left: 35%;
}

h2{
    color: blueviolet;
    text-align: center;
}
body{
    background-color: rgb(229, 200, 255);
}
